[user]
	name = keita sasako
	email = childbamboo1980@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
[color]
	ui = auto
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	rb = rebase
[ghq]
  root = ~/ghq
